<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Блог</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/posts">Все статьи</a>
    <a href="/posts/new">Написать</a>
  </nav>
  <main>